@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Montserrat&family=Roboto&display=swap');

*
{
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body
{
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* header: logo and navbar */
.header
{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #6492d2;
	width: 100%;
	padding: 20px;
/* 	height: auto; */
}

/* styling the navigation */ 
.navbar
{
	position: absolute;
	top: 0;
	right: 0;
	flex: 1;
}

.nav-list
{
	list-style: none;
	display: flex;
    padding: 10px;
	margin: 10px;
	gap: 20px;
	
}

.navbar a
{
	font-size: 18px;
	color: #E5E7EB;
	text-decoration: none;
}

.navbar a:hover
{
	color: aquamarine;
}

.logo a
{
	text-decoration: none;
	color: #fff;
}


.intro-container
{
/* 	background-color: #738b93;
 */	background-color: #1F2937;
	width: 100%;
	height: 400px;
	display: flex;
	gap: 8em;
	justify-content: center;
	align-items: center;
	padding: 50px;
}


.intro-text h2, 
.intro-text p
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #F9FAF8;
	
}

.intro-text h2
{
	font-size: 40px;
	font-weight: 700;
}

.intro-text p
{
	font-size: 18px;
}

.intro-text button {
	color: #F9FAF8;
	background-color: #3882F6;
	font-weight: 600;
	padding: 10px 30px;
	border-radius: 7px;
	border: none;
}

.intro-text:hover button {
	cursor: pointer;
	opacity: 0.5;
}

.intro-img img
{
	width: 500px;
	height: auto;
}


/* ----------- info part --------- */
.project-title
{
	color: #1F2937;
	font-size: 36px;
	font-weight: 800;
}

#project-section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 400px;
	padding: 40px;
	background-color: #cbcaec;
}

.projects{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3em;
}

.project-item{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.project-img
{
	width: 200px;
	height: auto;
	background: #fff;
	border-radius: 10px;
	border: 3px solid;
	border-color: #3882F6;
}

.project-item p{
	font-size: 15px;
	text-align: center;
} 

.project-img:hover{
	opacity: 0.5;
	cursor: pointer;
}

/* ---------------- Footer Section  --------- */

#footer{
	background-color: #1F2937;
	text-align: center;
	width: 100%;
	height: auto;
	color: #fff;
	padding: 10px;
}

.email {
    text-decoration: none;
	color: #fff;
}

.email:hover {
	color: aquamarine;
}

.email:hover a{
	text-decoration: underline;
}


