server {
  listen 8000;                        		    	# listening port, mandatory parameter
  host 127.0.0.1;                   	    	  	# host or 127.0.0.1 by default
  error_page 404 /error/404_NotFound.html;     	# default error page
  server_name webserv;                   		    # specify server_name, need to be added into /etc/hosts to work
  root docs/www;                     			      # root folder of site directory, full or relative path, mandatory parameter
  index index.html;                   			    # default page when requesting a directory, index.html by default

  location / {                   
      root docs/www;                  			# root folder of the location, if not specified, taken from the server. 
                                      			# EX: - URI /tours           --> docs/fusion_web/tours
                                      			#     - URI /tours/page.html --> docs/fusion_web/tours/page.html 
      autoindex on;                   			# turn on/off directory listing
      allow_methods POST GET DELETE;         			# allowed methods in location, GET only by default
      index index.html;               			# default page when requesting a directory, copies root index by default
  }

  location cgi-bin {
      root ./;                                                 # cgi-bin location, mandatory parameter
      cgi_path /usr/bin/python3 /bin/bash;                     # location of interpreters installed on the current system, mandatory parameter
      cgi_ext .py .sh;                                         # extensions for executable files, mandatory parameter
  }
}
